<%= form_with(model: wall, local: true) do |form| %>
  <% if wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :expireDate %>
    <%= form.datetime_select :expireDate %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
