<div class="container">
  <div id="main">
    <section id="contend">
      <% @media.each do |media| %>
        <%if media.instance_of? TextPost %>
          <div id="pol">
            <p id="text"><%= media.contend %></p>
            <p>
              <span class="glyphicon glyphicon-comment"></span> <%= media.comments.size %>
              <span class="glyphicon glyphicon-thumbs-up"></span> <%= media.likes.size %>
            </p>
          </div>
        <% end %>
        <%if media.instance_of? PicturePost %>
          <div id="pol">
            <img src="<%= media.contend %>" style="">
            <p>
              <span class="glyphicon glyphicon-comment"></span> <%= media.comments.size %>
              <span class="glyphicon glyphicon-thumbs-up"></span> <%= media.likes.size %>
            </p>
          </div>
        <% end %>
        <%if media.instance_of? VideoPost %>
          <div id="pol">
            <iframe src='https://www.youtube.com/embed/<%= media.contend %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen style=""></iframe>
            <p>
              <span class="glyphicon glyphicon-comment"></span> <%= media.comments.size %>
              <span class="glyphicon glyphicon-thumbs-up"></span> <%= media.likes.size %>
            </p>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
